 <tr>
 	<td><%= link_to "Mark as complete", complete_todo_list_todo_item_path(@todo_list,todo_item.id), method: :patch %></td>
    <td><%= todo_item.content %></td>
    <td><%= todo_item.deadline %></td>
   	<td><%= raw todo_item.tag_list.map{|t| link_to t, tag_path(t)}.join(',') %></td>
     <td width="5%"><%= link_to edit_todo_list_todo_item_path(@todo_list, todo_item.id), :class => "btn btn-default" do %><i class="fa fa-edit"></i><% end %></td>
    <td width="5%"><%= link_to edit_todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-danger", :style=>'color:#FFFFFF;' do %><i class="fa fa-trash-o"></i><% end %></td>
</tr>
                     


   