
  <section class="main-content-wrapper">
            <section id="main-content">
          

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Documentation</h3>
                                <div class="actions pull-right">
                                    <% if current_user.admin? %>
                                      <%= link_to "New documentation", new_documentation_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-new', :class => "btn btn-primary btn-xs"}%> 
                                    <% end %>
                                </div>
                            </div>
                            <div class="panel-body">

                              <p id="notice"><%= notice %></p>
                             
                              <table id="documentations" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                  <tr>
                                    <th>Processus</th>
                                    <th>Type</th>
                                    <th>Title</th>
                                    <th>Format</th>
                                    <th>Version</th>
                                    <th>Show</th>
                                    <% if current_user.admin? %>
                                      <th>Edit</th>
                                      <th>Delete</th>
                                    <% end %>
                                  </tr>
                                </thead>

                                <tbody>
                                    <% @documentations.each do |documentation| %>
                                    <tr>
                                      <td><%= documentation.process %></td>
                                      <td><%= documentation.doc %></td>
                                      <td><%= documentation.title %></td>
                                      <td><%= File.extname(documentation.file.url).strip.downcase[1..-1].partition("?").first%></td>
                                      <td>Version <%= documentation.version %></td>
                                      <td width="4%"> <%= link_to documentation.file.url, target: "_blank", :class => "btn btn-primary" do %><i class="fa fa-search"> Show</i><% end %></td></td>
                                       <% if current_user.admin? %>
                                            <td width="4%"><%= link_to edit_documentation_path(documentation), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-edit', :class => "btn btn-default"}  do %><i class="fa fa-edit"></i> Edit <% end %></td>
                                            <td width="4%"><%= link_to documentation_path(documentation),data: {:confirm => 'Are you sure?'}, :method => :delete, :class => "btn btn-danger", :style=>'color:#FFFFFF;' do %><i class="fa fa-trash-o"> Delete</i><% end %></td>
                                        <% end %>
                                    </tr> 

                                    <% end %>
                                </tbody>
                              </table>

                              <br>

          </div>
        </div>
      </div>
    </div>

  </section>
</section>


  <script type="text/javascript">
    $(document).ready(function() {
        $('#documentations').DataTable({
    "pageLength": 50,
    "bLengthChange": false,
    "bFilter": true,
    "bInfo": false,
    "bAutoWidth": false });
    } );
  </script>
  
  <!--main content end-->
         <!-- Basic Modal -->
    <div id="modal-new" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
      </div>
  </div>
  
  <div id="modal-edit" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
      </div>
  </div>
    <!-- End Basic Modal -->
    <!-- Form Modal -->

      <!-- End Form Modal -->


