<section class="main-content-wrapper">
	<section id="main-content">
      
          <div class="row">
                    <div class="col-md-12">
                        <!--breadcrumbs start -->
                        <ul class="breadcrumb">
                            <li><%= link_to 'Todo List', todo_lists_path %>
                            </li>
                            <li class="active"><%= @todo_list.title %></li>
                        </ul>
                    </div>
                </div>
         <div class="row">
          <div class="col-md-10 col-md-offset-1">
              <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Create a task</h3>
                    </div>
                    <div class="panel-body">
                            <%= render "todo_items/form" %>
                    </div>
                  </div>
           </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
              <span style="color: #9eafba;text-decoration: none;font-size: 1.5em;"><i class="fa fa-tag fa-1x"> Filter :</i></span>
              
              <span class="btn btn-primary btn-sm"><%= link_to "All", todo_list_path(@todo_list), :style=>'color:#FFFFFF;' %></span>
              
              <% if TodoItem.tag_counts.length > 0 %>
                <% tag_cloud @todo_list.todo_items.tag_counts, %w(css1 css2 css3 css4) do |tag| %>
                    <span class="btn btn-primary btn-sm"><%= link_to tag.name, tag_path(@todo_list, tag.name), :style=>'color:#FFFFFF;'  %></span>
                <% end %>
              <% else -%>
                <%= content_tag :p, 'No tags' %>
              <% end %>
          </div>
       </div>
       <br>


        <div class="row">
          <div class="col-md-10 col-md-offset-1">
              <div class="panel panel-default">
                    
                    <div class="panel-body">
                       <table id="tasks" class="table table-hover" cellspacing="0" width="100%">
                        <thead>
                          <tr>
                            <th>Complete</th>
                            <th>Title</th>
                            <th>Deadline</th>
                            <th>Tags</th>
                            <th>Edit</th>
                            <th>Delete</th>
                          </tr>
                        </thead>
                          <tbody>
                              <% @todo_item.each do |todo_item| %>
                                      <tr>
                                       
                                          <% if todo_item.completed? %>
                                         
                                              <td width="5%" style="vertical-align: middle; text-align:center"><%= link_to incomplete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch do %><i style="opacity:0.4;" class="fa fa-check"></i><% end %></td>
                                            
                                            
                                              <td style="vertical-align: middle;opacity:0.4"><strike><%= todo_item.content %></strike></td> 
                                              <td width="10%" style="vertical-align: middle;opacity:0.4"><strike><%= todo_item.deadline.strftime('%v') %></strike></td> 
                                              <td width="30%" style="vertical-align: middle;opacity:0.4" ><strike><%= raw todo_item.tag_list.map{|t| link_to t, tag_path(@todo_list, t), :class =>"btn btn-primary btn-xs"}.join(' ')%></strike></td>
                                           
                                            
                                              <td width="5%"><%= link_to edit_todo_list_todo_item_path(@todo_list, todo_item.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-edit', :class => "btn btn-default"}  do %><i style="opacity:0.4;" class="fa fa-edit"></i><% end %></td>
                                              <td width="5%" style="vertical-align: middle;"><%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: 'Are you sure?'}, :class => "btn btn-danger", :style=>'color:#FFFFFF;' do %><i style="opacity:0.4;" class="fa fa-trash-o"></i><% end %></td>
                                           
                                          <% else %>
                                           
                                              <td width="5%" style="vertical-align: middle;text-align:center"><%= link_to complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch do %><i class="fa fa-check"></i><% end %></td>
                                         
                                           
                                             <td style="vertical-align: middle;"><%= todo_item.content %></td> 
                                              <td width="10%" style="vertical-align: middle;"><%= todo_item.deadline.strftime('%v') %></td> 
                                              <td width="30%" style="vertical-align: middle;" ><%= raw todo_item.tag_list.map{|t| link_to t, tag_path(@todo_list, t), :class =>"btn btn-primary btn-xs"}.join(' ')%></td>
                                           
                                            
                                              <td width="5%"><%= link_to edit_todo_list_todo_item_path(@todo_list, todo_item.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-edit', :class => "btn btn-default"}  do %><i class="fa fa-edit"></i><% end %></td>
                                              <td width="5%" style="vertical-align: middle;"><%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: 'Are you sure?'}, :class => "btn btn-danger", :style=>'color:#FFFFFF;' do %><i class="fa fa-trash-o"></i><% end %></td>
                                          

                                          <% end %>
              
                                    </tr>
                              <% end %>
                          </tbody>
                      </table>
                    </div>
                  </div>
           </div>
        </div>
    </section>
</section>

<div id="modal-edit" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
      </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>
  <script type="text/javascript">
    $(document).ready(function() {
        $('#tasks').DataTable({
    "pageLength": 50,
    "bLengthChange": false,
    "bFilter": true,
    "bInfo": false,
    "bAutoWidth": false });
    } );
  </script>