<section class="main-content-wrapper">
	<section id="main-content">
	    <div class="row">
			<% @kpis.each.with_index do |kpi, index| %>
				<div class="col-md-3 col-sm-6">
					<div class="dashboard-tile detail tile-<%= kpi.color %>">
						<div class="content">
							<% if current_user.admin? %>
								<%= link_to edit_kpi_path(kpi), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-kpi'}  do %>Edit<% end %> | 
								<%= link_to 'X', kpi_path(kpi),data: {:confirm => 'Are you sure?'}, :method => :delete %>
							<% end %>
							<h1 class="text-left timer" data-speed="2500" data-to="180" data-from="0">
								<%= kpi.datum %>
							</h1>
								<p><%= kpi.name %></p>
						</div>
						<div class="icon">
							<i class="fa fa-warning"></i>
						</div>
					</div>
				</div>
			<% end %>
		</div>
           


									<% @index=0 %>
									<% @indicators.each.with_index do |indicator, index| %>
										<% if index.odd? %>
							                    <div class="col-md-6">
							                        <div class="panel panel-default">
							                            <div class="panel-heading">
							                                <h5 class="panel-title">HR</h5>
							                                <div class="actions pull-right">
							                                	<% if current_user.admin? %>
							                                	 	<%= link_to edit_indicator_path(indicator), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  do %>Edit<% end %> | 
							                                    	<%= link_to 'X', indicator_path(indicator),data: {:confirm => 'Are you sure?'}, :method => :delete %>
							                                   	<% end %>
							                                </div>
							                            </div>
							                            <div class="panel-body">
															<div id="graph" style="min-width: 100%; height: 100%; margin: 0 auto">
																<h2 class="title"></h2>
																	<%= high_chart(indicator.name.gsub(" ","_"), @charts[@index]) %>
																	<% @index += 1 %>
															</div>
														</div>
						                            </div>
						                        </div>
						                    </div>
						                <% else %>
						                	<div class="row" style='margin-bottom:20px'>
							                    <div class="col-md-6">
							                        <div class="panel panel-default">
							                            <div class="panel-heading">
							                                <h5 class="panel-title">HR</h5>
							                                <div class="actions pull-right">
							                                	<% if current_user.admin? %>
							                                    	<%= link_to edit_indicator_path(indicator), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  do %>Edit<% end %> |
							                                    	<%= link_to 'X', indicator_path(indicator),data: {:confirm => 'Are you sure?'}, :method => :delete, :class => "button"%>
							                                    <% end %>

							                                </div>
							                            </div>
							                            <div class="panel-body">
															<div id="graph" style="min-width: 100%; height: 100%; margin: 0 auto">
																<h2 class="title"></h2>
																	<%= high_chart(indicator.name.gsub(" ","_"), @charts[@index]) %>
																	<% @index += 1 %>
															</div>
														</div>
						                            </div>
						                        </div>
						                <% end %>
									<% end %>
									
            </section>
         </section>
         <!--main content end-->
         <!-- Basic Modal -->
    <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">

		    </div>
		  </div>
	</div>
	<div id="modal-kpi" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">

		    </div>
		  </div>
	</div>
    <!-- End Basic Modal -->
	  <!-- Form Modal -->

	    <!-- End Form Modal -->
